/*
    filename: triggered.css
    author: Nathan Allen
    created: 11/10/21
    purpose: style elements to demonstrate triggers
    mod history:

*/

div{
    float: left;
    height: 100px;
    width: 100px;
    background: black;
    margin: 5px;
    line-height: 100px;
    text-align: center;
    color: white;
}

p{
    clear: left;
}